{% extends 'base.html.twig' %}

{% block body %}

    <p>Insert React App Here.</p>

    {# React App endpoint #}
    <div id="articleId" style="display: none">0226c31c-a1a6-4e69-96e7-463d26071b33</div>

    <div id="root">Root</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('static//js/main.4a6c1d97.js') }}"></script>
{% endblock %}